header{
  width: 80%;
  margin: 10px auto;
  text-align: center;
}
.light {
  font-style: normal;
  font-size: 2em;
}
.container {
  width: 80%;
  padding: 10px;
  margin: 20px auto;
  box-sizing: border-box;
  overflow: auto;
}
.flex-item {
  width: 80%;
  margin: 10px auto;
}
.content-box {
  min-height: 150px;
  background: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 1px 5px 15px hsl(229, 6%, 66%);
  overflow: auto;
}
h1, h2, h3, h4 {
  color: hsl(234, 12%, 34%);
}
img {
  width: 40px;
  padding: 10px;
  margin-top: 30px;
  float: right;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (min-width: 950px) {
  header {
    width: 50%;
    margin: 20px auto;
    text-align: center;
  }
  .flexbox {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
  }
  .flex-item {
    width: 28%;
  }
}
    